<th:blcok>
    <div th:if="${session.user == null}">
        <th:block th:include="fragments/navigation-fragments/no-login-navbar"></th:block>
    </div>

    <div th:unless="${session.user == null}">

        <div th:if="${session.user.heroName == null}">
            <th:block th:include="fragments/navigation-fragments/no-hero-navbar"></th:block>
        </div>

        <div th:unless="${session.user.heroName == null}">
            <th:block th:include="fragments/navigation-fragments/created-hero-navbar"></th:block>
        </div>

    </div>
</th:blcok>